.PromptForm {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 10px;
  margin-bottom: 20px;
}

.PromptFormControls {
  width: 100%;
}

.PromptFormAudioControls {
  float: left;
}

.PromptFormAudioControl {
  text-align: start;
}

.PromptFormLabel {
  font-size: xx-small;
}

.PromptForm>textarea {
  outline: none;
  width: 100%;
}

.PromptFormButton {
  margin: auto;
  float: right;
}