.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-container {
  width: 400px;
  display: inline-block;
  align-items: start;
}

@media screen and (max-width: 420px) {
  .App-container {
    width: unset;
    margin: 0 10px;
  }
}
